/* Global Setting */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-dark-white: #bdbdbd;
    --color-pink: #ff5c6f;
    --color-dark-pink: #ff4242;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-ligth-grey: #7c7979;
    --color-blue: #73aace;
    --color-yellow: #fff7d1;
    --color-orange: #feb546;
    --color-black: #19191a;
    
    /* Font size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;
    --font-small: 16px;
    --font-micro: 14px;

    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;

    /* Size */

}

/* Universal tags */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

button {
    border: 0;
    background: transparent;
    outline: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

/* Typography */
h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    color: var(--color-black);
    margin: 16px 0;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-semi-bold);
    color: var(--color-black);
    margin: 8px 0;
}

h3 {
    font-size: var(--font-regulr);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 8px 0;
}

p {
    font-size: var(--font-regulr);
    font-weight: var(--weight-regular);
    color: var(--color-black);
    margin: 4px 0;
}

/* navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-pink);
    align-items: center;
    color: var(--color-white);
    padding: 16px;
}

.navbar__logo {
    font-size: var(--font-medium);
    font-weight: var(--weight-semi-bold);
}

.navbar__logo img {
    width: 60px;
}

.navbar__logo > a {
    vertical-align: top;
    margin-top: 13px;
    display: inline-block;    
}

.navbar__list {
    display: flex;
}

.navbar__item {
    margin: 0 4px;
}

.navbar__item.active {
    border: 1px solid var(--color-white);
    border-radius: 4px;
}

.navbar__item > button {
    color: var(--color-white);
    padding: 8px 12px;
    font-size: 18px;
    cursor: pointer;
}

.navbar__item > button:hover {
    background-color: var(--color-dark-pink);
    border-radius: 4px;
}

/* Home */
#home {
    background: url('./images/bg.png') center/cover no-repeat;
    padding: 40px;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    border: 3px solid var(--color-white);
}

.home__avatar img {
    width: 100%;
    margin-top: -60px;
}

.home__title,
.home__descip {
    color: var(--color-white);
}

.home__contact {
    font-size: var(--font-regular);
    font-weight: var(--weight-bold);
    margin: 24px;
    padding: 8px 12px;
    border: 2px solid var(--color-white);
    border-radius: 4px;
    color: var(--color-white);
}